:root {

  --color-white: #FFF;
  --color-dark-green: #112d28;
  --color-middle-green: #498c7e; 
  --color-light-green: #6fccbe; 

  --main-font: 'OpenSans';
  --heading-font: 'OpenSansBold';

  --padding-xs: 0.75rem;    
  --padding-s: 1rem;    
  --padding-sm: 1.5rem;  
  --padding-m: 2rem;
  --padding-l: 4rem; 
  --padding-xl: 6rem;

  --line-heigth-base: 2.0;
}

body {
  color: var(--color-white);
  background-color: var(--color-dark-green);
  font-family: var(--main-font);
  min-height: 100vh;
}

/* Composition */
  /* Taken from BOOTSTRAP */

/* Utility */
.bg-color-dark-green{
  background-color: var(--dark-green);
}

.bg-color-light-green{
  background-color: var(--light-green);
  background-image: url("../img/bridge.png");
  background-position: bottom left; 
  background-repeat: no-repeat;
}

.padding-footer{
  position: relative;
  width: 100%;
  padding-right: var(--padding-l);
  padding-left: var(--padding-l);
}

.padding-xl {
  padding-top: var(--padding-xl);
  padding-bottom: var(--padding-xl);
}

.padding-footer-header-32{
  padding-top: var(--padding-m);
}

.padding-footer-text-12{
  padding-top: var(--padding-xs);
  padding-bottom: var(--padding-m);
}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
}

/* Block */
.block-align{
  align-self: flex-end;
}

.row1{
  background-image: url("../img/14.png");
  background-repeat: no-repeat;
  background-size: 42%;
  background-position: center; 
}

.row2{
  background-image: url("../img/10.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center; 
}

.row3{
  background-image: url("../img/22.png");
  background-repeat: no-repeat;
  background-size: 42%;
  background-position: center; 
}

.text-alinea{
  line-height: var(--line-heigth-base);
}

.img1 {
  width: 80%;
  -webkit-filter: drop-shadow(24px 24px 0px rgba(0,0,0,0.28));
  filter: drop-shadow(24px 24px 0px rgba(0,0,0,0.28));
  padding-bottom: var(--padding-s);
}

.img2 {
  height: 190px;
  width: 338px;
}

.img3 {
  width: 88%;
}

.button {
  cursor: pointer;
  color: var(--color-white); 
  background-color: var(--color-light-green);
  text-align: center;
  padding: 5px 10px;
  margin: 10px;
  display: inline-block;
  width: 140px;
  height: 50px;
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.button-content {
  -ms-transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  transform: skewX(10deg);  
  display: inline-block;
  padding: 6px 0;
}

/* Exception */
.button[data-type="white"] {
  color: var(--color-middle-green); 
  background-color: var(--color-white); 
}