body {
  color: #ffffff;
  background-color: #112d28;
  font-family: 'OpenSans';
}

.block{
  align-self: flex-end;
}

.row1{
  background-image: url("../img/14-2.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center; 
}

.row2{
  background-image: url("../img/10.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center; 
}

.row3{
  background-image: url("../img/22.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center; 
}

h1, h2, h3, h4 {
  font-family: 'OpenSansBold';
}

.text-alinea{
  line-height: 2.0;
}

.bg-color-dark-green{
  background-color: var(--dark-green);
}

.padding-footer{
  position: relative;
  width: 100%;
  padding-right: 65px !important;
  padding-left: 65px !important;;
}

.padding-xl {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.button-default {
  color: #fff;
  background-color: #6fccbe;
  text-align: center;
  padding: 5px 10px;
  margin: 10px;
  display: inline-block;
}

.button-default-white {
  color: #498c7e;
  background-color: #fff;
  text-align: center;
  padding: 5px 10px;
  margin: 10px;
  display: inline-block;
}

.img3 {
  width: 90%;
}

.img1 {
  width: 80%;
}

.img2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.img-wrap-parent {
  filter: drop-shadow(24px 24px 0px rgba(0,0,0,0.28));
}

.img-wrap  {
  clip-path: polygon(9% 0, 100% 0, 81% 100%, 0% 100%);
}

.img-wrap2-parent {
  position: relative;
  height: 190px;
  width: auto;
  background: #fff;
  box-sizing: border-box;
  clip-path: polygon(11% 0, 100% 0, 89% 100%, 0% 100%);
  -webkit-clip-path: polygon(11% 0, 100% 0, 89% 100%, 0% 100%);

}

.img-wrap2  {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 4px;
  clip-path: polygon(11% 0, 100% 0, 89% 100%, 0% 100%);
  -webkit-clip-path: polygon(11% 0, 100% 0, 89% 100%, 0% 100%);
  height: 184px;
}

.padding-footer-text-45{
  padding-top: 45px;
}

.padding-footer-text-12{
  padding-top: 12px;
}

.button-slanted {
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.button-slanted-content {
  -ms-transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  transform: skewX(10deg);  
  display: inline-block;
  padding: 6px 0;
}

.button-fixedwidth {
  width: 140px;
  height: 50px;
}

.grid-flow > * + * {
  margin-top: 2rem;
}

.bg-color-light-green{
  background-color: var(--light-green);
}

.center-alignment{
  display: flex;
  align-items: center;
  justify-content: center;
}